{% if usage %} 

  <h3 class="welcome-user">Welcome, {{ customer.first_name }}! We hope you enjoy these shopping options!</h3>
  <div class="additional-address-container">
    {% if customer.metafields.customer_fields.location.value != blank %} 
    <div class="test">
    <p class="additional-details">Hospital Location: <span class="customer-detail">{{ customer.metafields.customer_fields.location.value }}</span></p>
    </div>
    {% endif %}
    {% if customer.metafields.customer_fields.department.value != blank  %}
    <p class="additional-details">Department: <span class="customer-detail">{{ customer.metafields.customer_fields.department.value }}</span></p>
    {% endif %}
    {% if customer.metafields.customer_fields.employment.value != blank  %}
    <p class="additional-details">Employment: <span class="customer-detail">{{ customer.metafields.customer_fields.employment.value }}</span></p>
    {% endif %}
    {% if customer.metafields.customer_fields.colors.value != blank  %}
    <p class="additional-details">Color Options: <span class="customer-detail">{{ customer.metafields.customer_fields.colors.value | join: ', ' }}</span></p>
    {% endif %}
  </div>
  
  <div class="user-collection-container">      
     {%- for collection_key in customer.metafields.pb_backend.collections.value -%}
       <div class="user-collection-card">
          <a class="button button--full-width button--secondary" href="{{ collections[collection_key].url  }}"> Shop {{ collections[collection_key].title }}s </a>
       </div>
        
    {%- endfor -%} 
  </div>
  
  {% style %}
    .additional-address-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 4rem;
      align-content: center;
      margin-top: 0rem;
    }
    .additional-details {
      height: fit-content;
    }
    .customer-detail {
      font-weight: 600;
    }
  
    {% comment %} cards {% endcomment %}
  
    .welcome-user {
      text-align: center;
    }
        
    .user-collection-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .user-collection-img {
      width: 10rem;
      height: 10rem;
    }
  
    .user-collection-img:hover {
      cursor: pointer;
      transform: scale(1.01)
    }
  
    .user-collection-container {
      display: flex;
      justify-content: center;
      gap: 8rem;
      margin-top: 1.5rem;
    }
    
  {% endstyle %}
  
{% else %}

  <h2 class="welcome-user">Welcome, {{ customer.first_name }}! We hope you enjoy these shopping options!</h2>
  
  <div class="user-collection-container">      
     {%- for collection_key in customer.metafields.pb_backend.collections.value -%}
       <div class="user-collection-card">
          <img class="user-collection-img" src={{ collections[collection_key].image | image_url }} href="{{ collections[collection_key].url  }}" alt="{{ collections[collection_key].title }} image">
          <a class="button button--secondary" href="{{ collections[collection_key].url  }}">  Shop {{ collections[collection_key].title }}s </a>
       </div>
        
      {%- endfor -%} 
  </div>

  <div class="additional-address-container">
    {% if customer.metafields.customer_fields.department.value != blank  %}
    {% if customer.metafields.customer_fields.employment.value != blank  %}
    <p class="additional-details">Employment: <span class="customer-detail">{{ customer.metafields.customer_fields.employment.value }}</span></p>
    {% endif %}
    {% if customer.metafields.customer_fields.colors.value != blank  %}
    <p class="additional-details">Color Options: <span class="customer-detail">{{ customer.metafields.customer_fields.colors.value | join: ', ' }}</span></p>
    {% endif %}
    {% if customer.metafields.customer_fields.product_types.value != blank %}
    <p class="additional-details">Product Options: <span class="customer-detail">{{ customer.metafields.customer_fields.product_types.value | join: ', ' }}</span></p>
    {% endif %}
    {% if customer.metafields.customer_fields.location.value != blank %} 
    <p class="additional-details">Hospital Location: <span class="customer-detail">{{ customer.metafields.customer_fields.location.value }}</span></p>
    {% endif %}
    <p class="additional-details">Department: <span class="customer-detail">{{ customer.metafields.customer_fields.department.value }}</span></p>
    {% endif %}
  </div>
  
  {% style %}
  .additional-address-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    align-content: center;
    margin-top: 1.5rem;
  }
  .additional-details {
    margin-top: 5rem;
    height: fit-content;
  }
  .customer-detail {
    font-weight: 600;
  }

                      {% comment %} cards {% endcomment %}
  .welcome-user {
    text-align: center;
  }
      
  .user-collection-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-collection-img {
    width: 20rem;
    height: 20rem;
  }

  .user-collection-card > a {
    margin: 3rem;
  }

  .user-collection-img:hover {
    cursor: pointer;
    transform: scale(1.01)
  }

  .user-collection-container {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 1.5rem;
  }
    {% endstyle %}
{% endif %}

{% comment %}
<h1 class="welcome-user">Welcome, {{ customer.first_name }}! We hope you enjoy these shopping options!</h1>
<div class="additional-address-container">
<!--   <h5>User detail:</h5> -->
  {% if customer.metafields.customer_fields.location.value != blank %} 
  <div class="test">
  <p class="additional-details">Hospital Location: <span class="customer-detail">{{ customer.metafields.customer_fields.location.value }}</span></p>
  </div>
  {% endif %}
  {% if customer.metafields.customer_fields.department.value != blank  %}
  <p class="additional-details">Department: <span class="customer-detail">{{ customer.metafields.customer_fields.department.value }}</span></p>
  {% endif %}
  {% if customer.metafields.customer_fields.employment.value != blank  %}
  <p class="additional-details">Employment: <span class="customer-detail">{{ customer.metafields.customer_fields.employment.value }}</span></p>
  {% endif %}
  {% if customer.metafields.customer_fields.colors.value != blank  %}
  <p class="additional-details">Color Options: <span class="customer-detail">{{ customer.metafields.customer_fields.colors.value | join: ', ' }}</span></p>
  {% endif %}
</div>

<div class="user-collection-container">      
   {%- for collection_key in customer.metafields.pb_backend.collections.value -%}
     <div class="user-collection-card">
        <img class="user-collection-img" src={{ collections[collection_key].image | image_url }} href="{{ collections[collection_key].url  }}" alt="{{ collections[collection_key].title }} image">
        <a href="{{ collections[collection_key].url  }}">  {{ collections[collection_key].title }} </a>
     </div>
      
    {%- endfor -%} 
</div>


     {% style %}
  .welcome-user {
    text-align: center;
  }
      
  .user-collection-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*     margin-top: 2rem; */
  }

  .user-collection-img {
    width: 20rem;
    height: 20rem;
  }

  .user-collection-card > a {
    margin: 3rem;
  }

  .user-collection-img:hover {
    cursor: pointer;
    transform: scale(1.01)
  }

  .user-collection-container {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 1.5rem;
  }

    {% endstyle %} {% endcomment %}