<h1>{{ usage }}</h1>

{% style %}
  .additional-address-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
  }
  .additional-details {
    margin-bottom: 0px;
/*     border: 1px solid red; */
  }
  .customer-detail {
    font-color: grey;
  }
{% endstyle %}





{%  comment %}<div class="collection-list-wrapper page-width isolate">
    <h1>Welcome, {{ customer.first_name }} we hope you enjoy these shopping options</h1>
  <h1>Hello world</h1>
 {% if customer.metafields.customer_fields.location.value != blank %} 
  <p class="additional-details">Hospital Location: <span class="customer-detail">{{ customer.metafields.customer_fields.location.value }}</span></p>
  {% endif %}
  {% if customer.metafields.customer_fields.department.value != blank  %}
  <p class="additional-details">Department: <span class="customer-detail">{{ customer.metafields.customer_fields.department.value }}</span></p>
  {% endif %}
  {% if customer.metafields.customer_fields.employment.value != blank  %}
  <p class="additional-details">Employment: <span class="customer-detail">{{ customer.metafields.customer_fields.employment.value }}</span></p>
  {% endif %}
  {% if customer.metafields.customer_fields.colors.value != blank  %}
  <p class="additional-details">Color Options: <span class="customer-detail">{{ customer.metafields.customer_fields.colors.value | join: ', ' }}</span></p>
  {% endif %}
    <ul class="collection-list contains-card contains-card-collection grid">
      {%- for collection_key in customer.metafields.pb_backend.collections.value -%}
          <li class="collection-list__item grid__item">{% render 'card-collection', card_collection: collections[collection_key], extend_height: false, columns: 3 %}</li>
      {%- endfor -%} 
    </ul>
  </div> 
{%  endcomment %}



<h1 class="welcome-user">Welcome, {{ customer.first_name }}! We hope you enjoy these shopping options!</h1>
<div class="additional-address-container">
  {% if customer.metafields.customer_fields.location.value != blank %} 
  <p class="additional-details">Hospital Location: <span class="customer-detail">{{ customer.metafields.customer_fields.location.value }}</span></p>
  {% endif %}
  {% if customer.metafields.customer_fields.department.value != blank  %}
  <p class="additional-details">Department: <span class="customer-detail">{{ customer.metafields.customer_fields.department.value }}</span></p>
  {% endif %}
  {% if customer.metafields.customer_fields.employment.value != blank  %}
  <p class="additional-details">Employment: <span class="customer-detail">{{ customer.metafields.customer_fields.employment.value }}</span></p>
  {% endif %}
  {% if customer.metafields.customer_fields.colors.value != blank  %}
  <p class="additional-details">Color Options: <span class="customer-detail">{{ customer.metafields.customer_fields.colors.value | join: ', ' }}</span></p>
  {% endif %}
</div>

<div class="user-collection-container">      
   {%- for collection_key in customer.metafields.pb_backend.collections.value -%}
     <div class="user-collection-card">
        <img class="user-collection-img" src={{ collections[collection_key].image | image_url }} href="{{ collections[collection_key].url  }}" alt="{{ collections[collection_key].title }} image">
        <a href="{{ collections[collection_key].url  }}">  {{ collections[collection_key].title }} </a>
     </div>
      
    {%- endfor -%} 
</div>


    {% style %}
  .welcome-user {
    text-align: center;
  }
      
  .user-collection-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .user-collection-img {
    width: 20rem;
    height: 20rem;
  }

  .user-collection-card > a {
    margin: 3rem;
  }

  .user-collection-img:hover {
    cursor: pointer;
    transform: scale(1.01)
  }

  .user-collection-container {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 3rem;
  }

    {% endstyle %}