{%  comment %}<div class="collection-list-wrapper page-width isolate">
    <h1>Welcome, {{ customer.first_name }} we hope you enjoy these shopping options</h1>

    <ul class="collection-list contains-card contains-card-collection grid">
      {%- for collection_key in customer.metafields.pb_backend.collections.value -%}
          <li class="collection-list__item grid__item">{% render 'card-collection', card_collection: collections[collection_key], extend_height: false, columns: 3 %}</li>
      {%- endfor -%} 
    </ul>
  </div> 
{%  endcomment %}
<div class="user-collection-container">
      <br>
   {%- for collection_key in customer.metafields.pb_backend.collections.value -%}
     <div class="user-collection-card">
        <img class="user-collection-img" src={{ collections[collection_key].image | img_url }} href="{{ collections[collection_key].url  }}" alt="{{ collections[collection_key].title }} image">
        <a href="{{ collections[collection_key].url  }}">  {{ collections[collection_key].title }} </a>
     </div>
      <br>
    {%- endfor -%} 
</div>
    {% style %}
  .user-collection-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
  }

  .user-collection-img {
    width: 18rem;
    height: 18rem;
  }

  .user-collection-img:hover {
    cursor: pointer;
    transform: scale(1.01)
  }

  .user-collection-container {
    display: flex;
    justify-content: center;
    border: 2px solid green
  }

    {% endstyle %}